@use "variables" as v;

//.on FOR NAV AND TABS
.on {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/*  text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
} */

//.onBtn FOR BTNS
.onBtn {
  background-color: red;
  color: var(--primary-color);
}

.inactive {
  display: none;
}

.active {
  display: block;
}
