@use "variables" as v;
@use "mixins" as m;

// menu__item and navOn for HEADER
.menu__item:not(.navOn) {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.5s ease-out;

    @include m.responsive(tablet) {
      width: 100%;
      height: 3px;
      top: auto;
      bottom: 0;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }
}

.navOn {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 1;

    @include m.responsive(tablet) {
      width: 100%;
      height: 3px;
      top: auto;
      bottom: 0;
    }
  }
}

// destintation planets tab

.d__tab:not(.planetOn) {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 93%;
    height: 3px;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    margin-block-start: v.rem(13);
  }

  &:hover::after {
    opacity: 0.7;
  }
}

.planetOn {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 93%;
    height: 3px;
    background-color: var(--primary-color);
    opacity: 1;
  }
}

// planet animation

.planetFadeIn {
  animation: planetEntrance 0.7s ease-out;
}

@keyframes planetEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// logo

.header__logo {
  cursor: default;
}

.clickable {
  cursor: pointer;
}

// explore button

.main__button {
  position: relative;
}

.main__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
  height: 180%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.7s ease-out;
  @include m.responsive(tablet) {
    width: 143%;
    height: 143%;
  }

  @include m.responsive(desktop) {
    width: 180%;
    height: 180%;
  }
}

.main__button:hover::after {
  background-color: var(--btn-hover);
}

.main__button:hover,
.main__button:hover::after {
  color: var(--btn-hover-txt);
  transition:
    background-color 0.7s,
    color 0.5s ease-out;
}

// animation for the selected section

.sectionOFF {
  display: none !important;
}

.selected {
  animation: appear 0.7s ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//.onBtn FOR BTNS
.onBtn {
  background-color: red;
  color: var(--primary-color);
}

.inactive {
  display: none;
}

.active {
  display: block;
}

// when menu is open

.noOverlay {
  display: none;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}
