@use "variables" as v;

// menu__item and navOn for HEADER
.menu__item:not(.navOn) {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &:hover::after {
    opacity: 0.7;
  }
}

.navOn {
  color: var(--primary-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 1;
  }
}

// on for destination PLANETS

.planetOn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

//.onBtn FOR BTNS
.onBtn {
  background-color: red;
  color: var(--primary-color);
}

.inactive {
  display: none !important;
}

.active {
  display: block;
}
