/* global styles */

@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{v.$white};
  --secondary-color: #{v.$blue-300};
  --background-color: #{v.$blue-900};
  --background-blur: #{v.$blue-blur};
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-color);
  overflow-x: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  cursor: pointer;
}

footer {
  position: absolute;
  left: 0;
  transform: translate-X(-50%);
  bottom: m.spacing(ms);
  width: 100%;
  text-align: center;
  padding-inline: m.spacing(ml);
}
