/* global styles */

@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{v.$white};
  --secondary-color: #{v.$lightBlue};
  --background-color: #{v.$darkBlue};
}
