/* global styles */

@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{v.$white};
  --secondary-color: #{v.$blue-300};
  --background-color: #{v.$blue-900};
  --background-blur: #{v.$blue-blur};
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  overflow: hidden;
}

li {
  list-style: none;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: m.spacing(m);
  width: 100%;
  text-align: center;
  padding-inline: m.spacing(ml);
}
