/* global styles */

@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{v.$white};
  --secondary-color: #{v.$blue-300};
  --background-color: #{v.$blue-900};
  --background-blur: #{v.$blue-blur};
  --white-blur: #{v.$white-blur};
  --btn-hover: #{v.$button-hover};
  --btn-hover-txt: #{v.$btn-hover-txt};
  --line-nav: #{v.$line-nav};
  --c-dot-hover: #{v.$c-dot-hover};
}

html,
body {
  overflow-x: hidden;
}

header {
  z-index: 100;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-color);
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh; // for bug on mobile
}

main {
  flex: 1; // pushes the footer to the bottom
  display: flex;
  width: 100%;
}

li {
  list-style: none;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  padding-block-end: m.spacing(ms);
  padding-inline: m.spacing(ml);
  isolation: isolate;
}
