/* global styles */

@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #{v.$white};
  --secondary-color: #{v.$blue-300};
  --background-color: #{v.$blue-900};
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

li {
  list-style-type: none;
  cursor: pointer;
}
