@use "variables" as v;
@use "mixins" as m;

// header

.logo {
  display: block;
  width: m.spacing(xl);
  height: m.spacing(xl);
  @include m.responsive(tablet) {
    width: m.spacing(xxl);
    height: m.spacing(xxl);
  }
}

.header__nav {
  background-color: var(--background-blur);
  backdrop-filter: blur(40px);
  @include m.responsive(tablet) {
    background-color: var(--white-blur);
  }
}

.header__hamburger,
.hamburger__button {
  @include m.responsive(tablet) {
    display: none;
  }
}

.hamburger__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main__button {
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  color: var(--background-color);
  transition: color 0.5s ease-out;
  cursor: pointer;
  width: v.rem(144);
  height: v.rem(144);

  @include m.responsive(tablet) {
    width: v.rem(272);
    height: v.rem(272);
  }
}

// destinations

.section__no {
  color: var(--line-nav);
}

// crew

.c__role {
  color: var(--line-nav);
}

.c__dot {
  width: v.rem(10);
  height: v.rem(10);
  background-color: var(--line-nav);
  border-radius: 50%;
  border: none;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  @include m.responsive(desktop) {
    width: v.rem(15);
    height: v.rem(15);
  }
}

.c__img {
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

// technology

.t__btn {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--line-nav);
  color: var(--primary-color);
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
