@use "variables" as v;
@use "mixins" as m;

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: m.spacing(ml);
  @include m.responsive(tablet) {
    padding: 0;
  }
  @include m.responsive(desktop) {
    padding-block-start: m.spacing(xl);
    position: relative;
  }
}

header::after {
  @include m.responsive(desktop) {
    content: "";
    position: absolute;
    top: v.rem(88);
    left: v.rem(174);
    width: calc(40% - 8rem);
    height: v.rem(1);
    background-color: var(--line-nav);
    z-index: 11;
  }
}

.header__logo {
  @include m.responsive(tablet) {
    display: flex;
    align-self: center;
    margin-inline-start: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    margin-inline-start: m.spacing(xxxl);
  }
}

.header__nav {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 60vw;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.6s linear;
  padding: m.spacing(ml) 0 0 m.spacing(l);
  z-index: 10;

  @include m.responsive(tablet) {
    position: relative;
    width: 83.5%;
    height: auto;
    transform: translate(0%);
    visibility: visible;
    padding: 0;
    transition: none;
  }
  @include m.responsive(desktop) {
    width: 60%;
  }
}
.open {
  transform: translateX(0%);
  visibility: visible;
}

.menuClosed {
  transform: translateX(100%);
  transition: transform 0.6s linear;
}

.btn__close {
  position: absolute;
  top: m.spacing(l);
  right: m.spacing(ml);
  z-index: 3;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  margin-block-start: m.spacing(xxl);
  gap: m.spacing(l);

  @include m.responsive(tablet) {
    flex-direction: row;
    margin: 0 m.spacing(xl) 0 0;
    height: m.spacing(extra-huge);
    justify-content: end;
  }

  @include m.responsive(desktop) {
    margin: 0 m.spacing(xxxl) 0 0;
  }
}

.menu__t {
  display: inline;
  position: absolute;
  left: 0;
  margin-inline-start: m.spacing(ml);

  @include m.responsive(tablet) {
    position: relative;
    margin-inline-start: m.spacing(s);
  }
}

.menu__item {
  @include m.responsive(tablet) {
    display: flex;
    align-items: center;
  }
}

// sections

.padding {
  padding-inline: m.spacing(ml);
  @include m.responsive(tablet) {
    padding-inline: v.rem(120);
  }
  @include m.responsive(desktop) {
    padding-inline: v.rem(150);
  }
}

// home

.section__home {
  @extend .padding;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  margin-block-start: m.spacing(ml);
  min-height: 100%;
  @include m.responsive(tablet) {
    margin-block-start: m.spacing(max-desktop);
  }
  @include m.responsive(desktop) {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    text-align: left;
    align-items: end;
    width: 100%;
    justify-content: space-between;
    margin-block-end: m.spacing(max-desktop);
  }
}

.main__intro {
  display: flex;
  flex-direction: column;
  gap: m.spacing(m);

  @include m.responsive(desktop) {
    width: v.rem(540);
  }
}

.main__explore {
  margin-block: v.rem(84);
  @include m.responsive(desktop) {
    margin-block: 0;
  }
}

// background imgs

.bg__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg__home,
.bg__des,
.bg__crew,
.bg__tech {
  @extend .bg__img;
}

.bg__home {
  @include m.bg-image(home);
}

.bg__des {
  @include m.bg-image(destination);
}

.bg__crew {
  @include m.bg-image(crew);
}

.bg__tech {
  @include m.bg-image(technology);
}

// section images

.d__img,
.c__img,
.t__img {
  display: block;
  width: 100%;
  max-width: 445px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
