@use "variables" as v;
@use "mixins" as m;

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: m.spacing(ml);
  @include m.responsive(tablet) {
    padding: 0;
  }
  @include m.responsive(desktop) {
    padding-block-start: m.spacing(xl);
    position: relative;
  }
}

header::after {
  @include m.responsive(desktop) {
    content: "";
    position: absolute;
    top: v.rem(88);
    left: v.rem(174);
    width: calc(40% - 8rem);
    height: v.rem(1);
    background-color: var(--line-nav);
    z-index: 11;
  }
}

.header__logo {
  @include m.responsive(tablet) {
    display: flex;
    align-self: center;
    margin-inline-start: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    margin-inline-start: m.spacing(xxxl);
  }
}

.header__nav {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 60vw;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.6s linear;
  padding: m.spacing(ml) 0 0 m.spacing(l);
  z-index: 10;

  @include m.responsive(tablet) {
    position: relative;
    width: 83.5%;
    height: auto;
    transform: translate(0%);
    visibility: visible;
    padding: 0;
    transition: none;
  }
  @include m.responsive(desktop) {
    width: 60%;
  }
}
.open {
  transform: translateX(0%);
  visibility: visible;
}

.menuClosed {
  transform: translateX(100%);
  transition: transform 0.6s linear;
}

.btn__close {
  position: absolute;
  top: m.spacing(l);
  right: m.spacing(ml);
  z-index: 3;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  margin-block-start: m.spacing(xxl);
  gap: m.spacing(l);

  @include m.responsive(tablet) {
    flex-direction: row;
    margin: 0 m.spacing(xl) 0 0;
    height: m.spacing(extra-huge);
    justify-content: end;
  }

  @include m.responsive(desktop) {
    margin: 0 m.spacing(xxxl) 0 0;
  }
}

.menu__t {
  display: inline;
  position: absolute;
  left: 0;
  margin-inline-start: m.spacing(ml);

  @include m.responsive(tablet) {
    position: relative;
    margin-inline-start: m.spacing(s);
  }
}

.menu__item {
  @include m.responsive(tablet) {
    display: flex;
    align-items: center;
  }
}

// sections

// home

.section__home {
  @include m.grid-layout;
  @include m.responsive(tablet) {
    margin-block-start: m.spacing(max-desktop);
  }
  @include m.responsive(desktop) {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    text-align: left;
    align-items: end;
    width: 100%;
    justify-content: space-between;
    margin-block-end: m.spacing(max-desktop);
  }
}

.main__intro {
  display: flex;
  flex-direction: column;
  gap: m.spacing(m);

  @include m.responsive(desktop) {
    width: v.rem(540);
  }
}

.main__explore {
  align-self: center;
  margin-block: m.spacing(huge);
  @include m.responsive(desktop) {
    margin-block: 0;
    align-self: self-end;
  }
}

// SECTIONS TITLE

.section__title {
  @include m.responsive(tablet) {
    position: absolute;
    left: 0;
    top: auto;
    margin-inline-start: 2.5rem;
  }
  @include m.responsive(desktop) {
    position: relative;
    left: auto;
    top: auto;
    margin-inline-start: 0;
  }
}

// destinations

.section__destination {
  @include m.grid-layout;
  padding-block-end: 3%;
  @include m.responsive(tablet) {
    margin-block-start: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    margin-block-end: m.spacing(xxl);
  }
}

.d__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.section__title {
  @include m.responsive(tablet) {
    display: flex;
    justify-self: flex-start;
  }
}

.section__no {
  margin-inline-end: v.rem(13);
}

.d__txt {
  display: flex;
  flex-direction: column;
  @include m.responsive(desktop) {
    justify-content: flex-end;
    padding-inline: m.spacing(xxl);
  }
}

.d__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: m.spacing(l);
  @include m.responsive(desktop) {
    justify-content: flex-start;
  }
}

.d__name {
  margin-block: v.rem(28) m.spacing(ml);
  @include m.responsive(desktop) {
    margin-block-start: m.spacing(xl);
  }
}

.d__description {
  padding-block-end: m.spacing(ml);
  border-bottom: 1px solid var(--line-nav);
  @include m.responsive(desktop) {
    padding-block-end: v.rem(36);
    width: 91%;
  }
}

.d__block {
  display: flex;
  flex-direction: column;
  gap: m.spacing(l);
  padding-block: m.spacing(ml);
  @include m.responsive(tablet) {
    flex-direction: row;
    gap: m.spacing(xl);
    padding-block-end: m.spacing(xl);
    justify-content: space-evenly;
  }
  @include m.responsive(desktop) {
    gap: m.spacing(xxxl);
    padding-block: v.rem(36) 0;
    justify-content: flex-start;
  }
}

.d__item {
  margin-block-end: m.spacing(ms);
}

// crew

.section__crew {
  @include m.grid-layout;
  padding-block-end: 3%;
  @include m.responsive(tablet) {
    margin-block-start: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    margin-block-end: m.spacing(xxl);
  }
}

.c__txt {
  margin-block-start: m.spacing(xxxl);
  @include m.responsive(desktop) {
    margin-block-start: 0;
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.c__name {
  margin-block: m.spacing(s) m.spacing(ml);
  @include m.responsive(tablet) {
    margin-block-end: m.spacing(m);
  }
}

.c__img {
  @include m.responsive(desktop) {
    grid-area: 1 / 2 / span 2 / 2;
  }
}

.c__menu {
  display: flex;
  gap: m.spacing(m);
  margin-block: m.spacing(xxl) m.spacing(ml);
  justify-content: center;
  @include m.responsive(desktop) {
    margin-block: 0;
    gap: m.spacing(xl);
    justify-content: flex-start;
  }
}

// technology

.section__technology {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  margin-block-start: m.spacing(ml);
  min-height: 100%;
  padding-block-end: 3%;
  @include m.responsive(tablet) {
    margin-block-start: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    margin-block-end: m.spacing(xxl);
    padding-inline-start: v.rem(150);
  }
}

.t__txt {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: m.spacing(xl);
  @include m.responsive(desktop) {
    margin-block-start: 0;
    grid-area: 2 / 1 / span 1 / span 1;
    flex-direction: row;
    gap: m.spacing(xxxl);
  }
}

.t__img {
  margin-block: v.rem(88) m.spacing(l);
  @include m.responsive(desktop) {
    grid-area: 1 / 2 / span 2 / 2;
    align-self: self-end;
    margin-block: 0;
  }
}

.t__btn {
  width: m.spacing(xl);
  height: m.spacing(xl);
  @include m.responsive(tablet) {
    width: v.rem(56);
    height: v.rem(56);
  }
  @include m.responsive(desktop) {
    width: m.spacing(huge);
    height: m.spacing(huge);
  }
}

.t__menu {
  display: flex;
  gap: m.spacing(m);
  justify-content: center;
  @include m.responsive(desktop) {
    flex-direction: column;
    gap: m.spacing(l);
  }
}

.t__info {
  @include m.responsive(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// section images

.d__img {
  @include m.section__images;
  background-position: bottom;
  margin-block: 15%;
  width: 55%;
  height: 55%;
  align-self: center;

  @include m.responsive(tablet) {
    width: 70%;
    height: 70%;
  }

  @include m.responsive(desktop) {
    margin-block: 0;
    width: 80%;
    height: 80%;
  }
}

.c__img {
  @include m.section__images;
  background-position: center;
  align-self: end;
  width: 100%;
  height: 100%;
  @include m.responsive(desktop) {
    width: 80%;
    height: 80%;
    background-position: right;
  }
}

.t__img {
  display: block;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30%;
  @include m.responsive(tablet) {
    height: 33%;
  }
  @include m.responsive(desktop) {
    background-position: right;
    background-size: contain;
    height: 90%;
  }
}

// background imgs

.bg__home,
.bg__des,
.bg__crew,
.bg__tech {
  @include m.bg__position;
}

.bg__home {
  @include m.bg-image(home);
}

.bg__des {
  @include m.bg-image(destination);
}

.bg__crew {
  @include m.bg-image(crew);
}

.bg__tech {
  @include m.bg-image(technology);
}
