@use "variables" as v;
@use "mixins" as m;

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: m.spacing(ml);
}

.header__nav {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 60vw;
  transform: translateX(100%);
  transition: transform 0.6s linear;
  padding: m.spacing(ml) 0 0 m.spacing(l);
}
.open {
  transform: translateX(0%);
}

.btn__close {
  position: absolute;
  top: m.spacing(l);
  right: m.spacing(ml);
  z-index: 1;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  margin-block-start: m.spacing(xxl);
  gap: m.spacing(l);
}

.menu__t {
  display: inline;
  position: absolute;
  left: 0;
  margin-inline-start: m.spacing(ml);
}

// sections

.padding {
  padding-inline: m.spacing(ml);
  @include m.responsive(tablet) {
    padding-inline: m.spacing(xl);
  }
  @include m.responsive(desktop) {
    padding-inline: m.spacing(max-desktop);
  }
}

// home

.section__home {
  @extend .padding;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  margin-block-start: m.spacing(ml);
  overflow-y: hidden;
}

.main__intro {
  display: flex;
  flex-direction: column;
  gap: m.spacing(m);
}

.main__explore {
  align-self: flex-end;
  margin-block-end: m.spacing(m);
}

// background imgs

.bg__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg__home,
.bg__des,
.bg__crew,
.bg__tech {
  @extend .bg__img;
}

.bg__home {
  @include m.bg-image(home);
}

.bg__des {
  @include m.bg-image(destination);
}

.bg__crew {
  @include m.bg-image(crew);
}

.bg__tech {
  @include m.bg-image(technology);
}

// section images

.d__img,
.c__img,
.t__img {
  display: block;
  width: 100%;
  max-width: 445px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
