@use "variables" as v;
@use "mixins" as m;

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: m.spacing(ml);
}

// background imgs

.bg__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg__home,
.bg__des,
.bg__crew,
.bg__tech {
  @extend .bg__img;
}

.bg__home {
  @include m.bg-image(home);
}

.bg__des {
  @include m.bg-image(destination);
}

.bg__crew {
  @include m.bg-image(crew);
}

.bg__tech {
  @include m.bg-image(technology);
}

// section images

.d__img,
.c__img,
.t__img {
  display: block;
  width: 100%;
  max-width: 445px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
