@use "variables" as v;
@use "mixins" as m;

// fonts

@font-face {
  font-family: "Barlow Condensed";
  src:
    url("../starter-code/assets/fonts/BarlowCondensed-Regular.woff2")
      format("woff2"),
    url("../starter-code/assets/fonts/BarlowCondensed-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src:
    url("../starter-code/assets/fonts/Barlow-Regular.woff2") format("woff2"),
    url("../starter-code/assets/fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellefair";
  src:
    url("../starter-code/assets/fonts/Bellefair-Regular.woff2") format("woff2"),
    url("../starter-code/assets/fonts/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// font css

//header
.nav__menu {
  @include m.set-preset(v.$barlowCondensed-settings, "preset-8-fs");
  text-transform: uppercase;
}
.menu__number {
  font-weight: 700;
}

// general

.weight_up {
  font-weight: 500;
  text-transform: uppercase;
}

.parragraph__description {
  @include m.set-preset(v.$barlow-settings, "preset-9-fs");
  font-weight: 500;
}

// home

h1,
.main__title,
.main__button {
  @extend .weight_up;
}

h1 {
  @include m.set-preset(v.$barlowCondensed-settings, "h1-fs");
}

.main__title {
  @include m.set-preset(v.$bellefair-settings, "preset-1-fs");
}

.main__p {
  @extend .parragraph__description;
}

.main__button {
  @include m.set-preset(v.$bellefair-settings, "preset-4-fs");
}

// destinations

.section__title,
.d__name,
.c__name,
.t__name,
.d__tab,
.d__item,
.d__distance,
.d__travel {
  @extend .weight_up;
}

.section__title {
  @include m.set-preset(v.$barlowCondensed-settings, "preset-5-fs");
}

.d__name,
.c__name,
.t__name {
  @include m.set-preset(v.$bellefair-settings, "preset-2-fs");
}

.d__tab {
  @include m.set-preset(v.$barlowCondensed-settings, "preset-8-fs");
}

.d__description {
  @extend .parragraph__description;
}

.d__item {
  @include m.set-preset(v.$barlowCondensed-settings, "preset-7-fs");
}

.d__distance,
.d__travel {
  @include m.set-preset(v.$bellefair-settings, "preset-6-fs");
}

// crew

.c__role {
  @include m.set-preset(v.$bellefair-settings, "preset-4-fs");
  @extend .weight_up;
}

.c__name {
  @include m.set-preset(v.$bellefair-settings, "preset-3-fs");
  @extend .weight_up;
}

.c__description {
  @extend .parragraph__description;
}

// technology

.t__btn {
  @include m.set-preset(v.$bellefair-settings, "preset-4-fs");
  @extend .weight_up;
}

//footer

footer {
  @include m.set-preset(v.$barlowCondensed-settings, "footer-fs");
  text-transform: uppercase;
  & a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
  }
}
