@use "sass:math";

// px to rem function
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

// Font settings

$bellefair-settings: (
  "family": (
    "Bellefair",
    serif,
  ),
  "preset-1-fs": (
    "desktop": rem(144),
    "tablet": rem(144),
    "mobile": rem(80),
  ),
  "preset-2-fs": (
    "desktop": rem(100),
    "tablet": rem(80),
    "mobile": rem(56),
  ),
  "preset-3-fs": (
    "desktop": rem(56),
    "tablet": rem(40),
    "mobile": rem(24),
  ),
  "preset-4-fs": (
    "desktop": rem(32),
    "tablet": rem(24),
    "mobile": rem(18),
  ),
  "preset-6-fs": (
    "desktop": rem(28),
  ),
);

$barlowCondensed-settings: (
  "family": (
    "Barlow Condensed",
    sans-serif,
  ),
  "h1-fs": (
    "desktop": rem(28),
    "tablet": rem(28),
    "mobile": rem(16),
    "letter-spacing": rem(3),
  ),
  "preset-5-fs": (
    "desktop": rem(28),
    "tablet": rem(20),
    "letter-spacing": rem(4.75),
  ),
  "preset-7-fs": (
    "desktop": rem(14),
    "letter-spacing": rem(2.35),
  ),
  "preset-8-fs": (
    "desktop": rem(16),
    "mobile": rem(14),
    "letter-spacing": rem(2.7),
  ),
  "footer-fs": (
    "desktop": rem(14),
    "tablet": rem(12),
    "mobile": rem(10),
    "letter-spacing": rem(2),
  ),
);

$barlow-settings: (
  "family": (
    "Barlow",
    sans-serif,
  ),
  "preset-9-fs": (
    "desktop": rem(18),
    "tablet": rem(16),
    "mobile": rem(15),
    "line-height": 1.8,
  ),
);

// Spacing

$spacing-values: (
  "xxs": rem(2),
  "xs": rem(4),
  "s": rem(8),
  "ms": rem(12),
  "m": rem(16),
  "ml": rem(24),
  "l": rem(32),
  "xl": rem(40),
  "xxl": rem(48),
  "xxxl": rem(64),
  "huge": rem(80),
  "extra-huge": rem(96),
  "max-desktop": rem(128),
);

// Colors

$blue-900: hsl(230, 35%, 7%);
$blue-300: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);
$blue-blur: hsla(230, 35%, 7%, 0.15);
$white-blur: hsla(0, 0%, 100%, 0.05);

//media queries

$breakpoints: (
  mobile: 23.125em,
  tablet: 47.5em,
  desktop: 69.5em,
);
