@font-face {
  font-family: "Barlow Condensed";
  src: url("starter-code/assets/fonts/BarlowCondensed-Regular.woff2")
      format("woff2"),
    url("starter-code/assets/fonts/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("starter-code/assets/fonts/Barlow-Regular.woff2") format("woff2"),
    url("starter-code/assets/fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellefair";
  src: url("starter-code/assets/fonts/Bellefair-Regular.woff2") format("woff2"),
    url("starter-code/assets/fonts/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Font settings

$bellefair-settings: (
  "family": "Bellefair, serif",
  "preset-1-fs": (
    "desktop": 144px,
    "mobile": 80px,
  ),
  "preset-2-fs": (
    "desktop": 100px,
    "tablet": 80px,
    "mobile": 56px,
  ),
  "preset-3-fs": (
    "desktop": 56px,
    "tablet": 40px,
    "mobile": 24px,
  ),
  "preset-4-fs": (
    "desktop": 32px,
    "tablet": 24px,
    "mobile": 18px,
  ),
  "preset-6-fs": (
    "desktop": 28px,
    "mobile": 16px,
  ),
);

$barlowCondensed-settings: (
  "family": "Barlow Condensed, sans-serif",
  "preset-5-fs": (
    "desktop": 28px,
    "tablet": 20px,
    "letter-spacing": 4.75px,
  ),
  "preset-7-fs": (
    "desktop": 14px,
    "letter-spacing": 2.35px,
  ),
  "preset-8-fs": (
    "desktop": 16px,
    "mobile": 14px,
    "letter-spacing": 2.7px,
  ),
);

$barlow-settings: (
  "family": "Barlow, sans-serif",
  "preset-9-fs": (
    "desktop": 18px,
    "tablet": 16px,
    "mobile": 15px,
    "line-height": 1.8,
  ),
);

// Spacing

$spacing-values: (
  "xxs": 2px,
  "xs": 4px,
  "s": 8px,
  "ms": 12px,
  "m": 16px,
  "ml": 24px,
  "l": 32px,
  "xl": 40px,
  "xxl": 48px,
  "xxxl": 64px,
  "huge": 80px,
  "extra-huge": 96px,
  "max-desktop": 128px,
);

// Colors

$blue-900: hsl(230, 35%, 7%);
$blue-300: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

//media queries
$breakpoints: (
  mobile: 23.125em,
  tablet: 47.5em,
  desktop: 69.5em,
);

// responsive mixin

@mixin responsive($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// presets mixins

@mixin set-preset($font, $preset-name) {
  $preset: map-get($font, $preset-name); //para abreviar abajo

  font-family: map-get($font, "family");

  @if map-has-key($preset, "letter-spacing") {
    letter-spacing: map-get($preset, "letter-spacing");
  }
  @if map-has-key($preset, "line-height") {
    line-height: map-get($preset, "line-height");
  }

  // mobile first
  font-size: map-get($preset, "mobile");

  // font size media queries

  @include responsive(tablet) {
    @if map-has-key($preset, "tablet") {
      font-size: map-get($preset, "tablet");
    }
  }

  @include responsive(desktop) {
    @if map-has-key($preset, "desktop") {
      font-size: map-get($preset, "desktop");
    }
  }
}

// spacing function to abreviate code instead of writing "padding: map-get($spacing-values, "xxs");"
// it would be like this: "padding: spacing(xxs);"

@function spacing($size) {
  @if map-has-key($spacing-values, $size) {
    @return map-get($spacing-values, $size);
  }
}

// background image mixin

@mixin bg-image($name) {
  background-image: url("/starter-code/assets/#{$name}/background-#{$name}-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;

  @include responsive(tablet) {
    background-image: url("/starter-code/assets/#{$name}/background-#{$name}-tablet.jpg");
  }

  @include responsive(desktop) {
    background-image: url("/starter-code/assets/#{$name}/background-#{$name}-desktop.jpg");
  }
}
