// Font settings

$bellefair-settings: (
  "family": "Bellefair, serif",
  "preset-1-fs": (
    "desktop": 144px,
    "mobile": 80px,
  ),
  "preset-2-fs": (
    "desktop": 100px,
    "tablet": 80px,
    "mobile": 56px,
  ),
  "preset-3-fs": (
    "desktop": 56px,
    "tablet": 40px,
    "mobile": 24px,
  ),
  "preset-4-fs": (
    "desktop": 32px,
    "tablet": 24px,
    "mobile": 18px,
  ),
  "preset-6-fs": (
    "desktop": 28px,
    "mobile": 16px,
  ),
);

$barlowCondensed-settings: (
  "family": "Barlow Condensed, sans-serif",
  "preset-5-fs": (
    "desktop": 28px,
    "tablet": 20px,
    "letter-spacing": 4.75px,
  ),
  "preset-7-fs": (
    "desktop": 14px,
    "letter-spacing": 2.35px,
  ),
  "preset-8-fs": (
    "desktop": 16px,
    "mobile": 14px,
    "letter-spacing": 2.7px,
  ),
);

$barlow-settings: (
  "family": "Barlow, sans-serif",
  "preset-9-fs": (
    "desktop": 18px,
    "tablet": 16px,
    "mobile": 15px,
    "line-height": 1.8,
  ),
);

// Spacing

$spacing-values: (
  "xxs": 2px,
  "xs": 4px,
  "s": 8px,
  "ms": 12px,
  "m": 16px,
  "ml": 24px,
  "l": 32px,
  "xl": 40px,
  "xxl": 48px,
  "xxxl": 64px,
  "huge": 80px,
  "extra-huge": 96px,
  "max-desktop": 128px,
);

// Colors

$blue-900: hsl(230, 35%, 7%);
$blue-300: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

//media queries

$breakpoints: (
  mobile: 23.125em,
  tablet: 47.5em,
  desktop: 69.5em,
);
